<header class="jumbotron hero-spacer">
<p class="text-center"><img src="assets/images/logo.png"></p>

	<h2>Welcome to Chaordic Translate App!</h2>
	<p>This app was created with the intention to facilitate the internationalization of messages within the Chaordic, so that besides devs, staff outside the code can also participate more actively in the creation and translation (and fix) of system messages</p>
	<p><a href="/projects" class="btn btn-primary btn-large">Go to Projects!</a>
	</p>
</header>