<h3>Projects 
	<span class="pull-right">
		<a href="/projects/new" class="btn btn-primary btn-large">New Project</a>
	</span>
</h3>

<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th>Project</th>
			<th class="text-center">Lenguages</th>
			<th class="text-center">Num. Sentences</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="project in projects" ng-click="selectProject($index)">
			<td>{{project.name}}</td>
			<td class="text-center">{{project.lang | lang}}</td>
			<td class="text-center">34</td>
			<td><span><i class="glyphicon glyphicon-chevron-right"></i></span></td>
		</tr>
	</tbody>
</table>